html{
    scroll-behavior: smooth;
}
body{
    background-image: url("https://content.app-sources.com/s/18447925404601697/uploads/Blog_Images/Pharmacy_Chatbot_The_Future_of_Personalised_Medicine_Assistance-2291092.jpg?format=webp");
    background-size: cover;


}
#content-heading{
    min-height: 100px;
    width: 1000px;
    padding: 0px;
    margin:0px;
    position: fixed;
    left: 50px;
    top: 100px;
    
}
#content-heading h1{
    font-family: 'Courier New', Courier, monospace;
    display: inline;
    opacity: 1;
    font-size: 250%;
    border: 3px solid black;
    
}
#content-heading p{
    display: flex;
    min-height: 100px;
    
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
